@media screen and (max-width: 1147px) {
    .section-one {
        padding-top: 50px;
        padding-bottom: 600px;
        gap: 200px;
    }

    .section-one-h2 {
        text-align: center;
        font-size: 30pt;
    }

    .section-one-h3 {
        text-align: center;
        font-size: 15pt;
        width: 400px;
    }

    .nav {
        gap: 0
    }

    .section-two {
        padding-top: 100px;
        padding-bottom: 500px;
        gap: 200px;
    }

    .section-two-h2 {
        text-align: center;
        font-size: 30pt;
    }

    .section-two-h3 {
        text-align: center;
        font-size: 15pt;
        width: 400px;
    }

    .section-two-div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .main-h1 {
        font-size: 25pt;
    }

    .main-h2 {
        font-size: 15pt;
    }

    .main-h3 {
        width: 250px;
    }
}

@media screen and (max-width: 579px) {
    .button {
       color: white;
        padding: 6px 10px;
        font-size: 20pt;
        cursor: pointer;
    }

    .nav-button-lang {
        padding: 8px 12px;
    }

    .nav-button {
        padding: 8px 10px;
    }

    .nav-img {
        width: 80px;
    }

    .video-img {
        position: absolute;
        width: 300px;
        z-index: 1;
    }

    .video-card-video {
        position: relative;
        width: 250px;
        top: -6px;
    }

    .section-two-h2 {
        text-align: center;
        font-size: 20pt;
        width: 300px;
    }

    .section-two-h3 {
        text-align: center;
        font-size: 15pt;
        width: 300px;
    }

    .section-one-h2 {
        text-align: center;
        font-size: 20pt;
    }

    .section-one-h3 {
        text-align: center;
        font-size: 15pt;
        width: 300px;
    }

    .input-text {
        padding: 20px;
        width: 350px;
        margin-bottom: 10px;
        font-size: 12pt;
        outline: none;
    }   
}
