* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.nav-img {
    width: 150px;
    margin: 30px 40px;
}

.nav-button {
    background-color: red;
    padding: 8px 18px;
    border: none;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 12pt;
    color: white;
    border-radius: 5px;
}

.nav-button-lang {
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
    padding: 6px 15px;
    border: 1px solid white;
    font-size: 12pt;
    color: white;

}

.group-buttons {
    display: flex;
    align-items: center;
}

.lang-icon {
    filter: invert(100%);
    width: 12px;
    position: absolute;
    margin-left: 5px;
}

.img {
    opacity: 0.4;
    position: absolute;
}

.select-group {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.select-group option {
    background-color: black;
}